/vendor
/node_modules
/public/storage
/public/landing/*
!/public/landing/estilos.css
/public/docs
/public/web/videos
/public/web/videos-productos
/public/web/img/andamios/SBT-6/videos
*.mp4
*.zip
*.sql
andamios_app.sql

Homestead.yaml
Homestead.json
.env
/env
composer.phar
.deploy.env
.deploy_state
.valetphprc

# Editor & OS files
.vscode/
.idea/
.DS_Store
*/.DS_Store
__MACOSX/
*/__MACOSX/

# Logs & Framework
error_log
*/error_log
.ftpquota
info.php
public/info.php
public/.user.ini
.user.ini
cacert.pem
php.ini
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

# Backup files
*.bak
*.php_org
*.copy
*.back
*copy.php
